extends layout.pug
block content
  <div class="container">
    <div class="row aside">
      <div class="col-md-2">
        <div class="row">
          <div class="strategic-partner">
            <img src="./images/common-china_tele.png" alt="战略伙伴">
          </div>
        </div>
      </div>
      <div class="col-md-10 content">
        <h4 class="content-nav">
          <span class="text-primary float-left">
            <img src="./images/common-nav-btn.png" alt="小导航图标">&nbsp;咨询业务</span>
          <span class="float-right">当前位置：jsliang 前端>咨询业务</span>
        </h4>
        <img class="img-fluid consult-content-img" src="./images/consultingBusiness-content1.jpg" alt="内容图片1">
        <p>jsliang 前端坚持“咨询+建设+运营+推广”一体化战略，注重项目前期的数据分析，以专业的企业信息分析、数据挖掘技能为基础，致力为中国通信行业提供精细化管理、营销与服务的解决方案。</p>
        <p> 专业的服务技能结合多年行业实践经验，jsliang 前端在产品/业务流程规范、产品与资费设计、精细营销分析与管理执行、精准服务、系统 IT实现等领域积累了丰富的、可操作性强的项目经验，成为中国前端行业的佼佼者。公司独特的“咨询+运营+模型+支撑”的一体化产品与服务技能，有效保证了咨询项目成果的实施落地与常态化实现。</p>
      </div>
    </div>
  </div>