
  <div class="container">
    <div class="row aside">
      <div class="col-md-2">
        <div class="row">
          <div class="sidebar">
            <ul>
              <li>
                <span class="triangle"></span>
                <a href="index.html">公司简介</a>
              </li>
              <li>
                <span class="triangle"></span>
                <a href="culture.html">企业文化</a>
              </li>
              <li>
                <span class="triangle"></span>
                <a href="job.html">诚聘精英</a>
              </li>
              <li>
                <span class="triangle"></span>
                <a href="contact.html" class="text-primary">联系方式</a>
              </li>
            </ul>
          </div>
          <div class="strategic-partner">
            <img src="./images/common-china_tele.png" alt="战略伙伴">
          </div>
        </div>
      </div>
      <div class="col-md-10 content">
        <h4 class="content-nav">
          <span class="text-primary float-left">
            <img src="./images/common-nav-btn.png" alt="小导航图标">&nbsp;联系方式</span>
          <span class="float-right">当前位置：jsliang 前端>联系方式</span>
        </h4>
        <p>公司网址：jsliang.top</p>
        <p>公司邮箱：1741020489@qq.com</p>
        <p>公司地址：广州市体育西路</p>
        <p>邮编地址：510620</p>
        <p>联系电话：18818881888</p>
        <p>公交信息：维多利广场站、体育西路站，公交车次有：78、89、130、195、233、 263、280、551、810路，出站步行约5分钟</p>
        <p>地铁信息：乘坐地铁一号线至体育西路站，出站步行约8分钟即可到达。</p>
        <img class="img-fluid" src="./images/contact-content1.jpg" alt="内容图片1">
      </div>
    </div>
  </div>
