
  <div class="container">
      <div class="row aside">
        <div class="col-md-2">
          <div class="row">
            <div class="message-board-sidebar">
              <img class="img-fluid" src="./images/messageBoard.png" alt="战略伙伴">
            </div>
          </div>
        </div>
        <div class="col-md-10 content">
          <h4 class="content-nav">
            <span class="text-primary float-left">
              <img src="./images/common-nav-btn.png" alt="小导航图标">&nbsp;留言咨询</span>
            <span class="float-right">当前位置：jsliang 前端>留言咨询</span>
          </h4>
          <ul class="message-board-ul" id="message-board-ul">
            <!-- 填充位置 -->
            <li class="message-board-li">
              <span class="text-warning font-bold">☆ </span>
              <span class="user-message">祝 jsliang 早日找到 13K+ 的工作！</span>
              <span>—— </span>
              <span class="user-name">jsliang</span>
              <span class="message-time">2018-12-18 15:34:15</span>
            </li>
            <li>
              <span class="text-warning font-bold">☆ </span>
              <span class="user-message">不折腾的前端，和咸鱼有什么区别！</span>
              <span>—— </span>
              <span class="user-name">梁峻荣</span>
              <span class="message-time">2018-12-18 15:31:44</span>
            </li>
            <li>
              <span class="text-warning font-bold">☆ </span>
              <span class="user-message">人生三愿：吃得下饭，睡得着觉，笑得出来；人生四然：来是偶然，去是必然，尽其当然，顺其自然。相信未来你的人生会更精彩！</span>
              <span>—— </span>
              <span class="user-name">梁峻荣</span>
              <span class="message-time">2018-12-18 15:31:44</span>
            </li>
          </ul>
          <hr>
          <div>
            <p>我也要留言：</p>
            <textarea class="form-control" name="message" id="message" cols="30" rows="4" maxlength="140"></textarea>
          </div>
          <br>
          <div class="text-indent-one">
            <button class="btn btn-primary" id="message-submit" type="submit">提交留言</button>
          </div>
        </div>
      </div>
  </div>

  <script>
    $(function() {
      
      let userName = sessionStorage.getItem("userName");
      let userId = sessionStorage.getItem("id");
      
      // 查询留言板
      if(userName && userId) { // 如果有存储
        $.ajax({
          url: "http://localhost:8888/getMessage",
          type: 'get',
          dataType: 'json',
          success: function (res) {
            console.log(res);
            let li = ``;
            for(let item in res.data.list) {
              li = li + `
                <li>
                  <span class="text-warning font-bold">☆ </span>
                  <span class="user-message">${res.data.list[item].user_message}</span>
                  <span>—— </span>
                  <span class="user-name">${res.data.list[item].user_name} [${res.data.list[item].user_id}]</span>
                  <span class="message-time">${res.data.list[item].time}</span>
                </li>
              `;
            }
            $("#message-board-ul").append(li);
          },
          error: function (err) {
            console.log(err);
          }
        })
      } else { // 如果没有存储
        window.location.href = "../login.html";
      }

      // 提交留言
      $("#message-submit").click(function() {
        let messageText = $("#message").val()
        if(!messageText) {
          alert("留言内容不能为空");
        } else if(messageText.length > 140) {
          alert("留言长度不能超过 140 位！");
        } else {
          $.ajax({
            url: "http://localhost:8888/sendMessage",
            type: 'post',
            dataType: 'json',
            data: {
              userid: userId,
              username: userName,
              message: messageText
            },
            success: function (res) {
              console.log(res);
              if(res.code == 200) {
                alert("新增成功！");
                window.location.reload();
              }
            },
            error: function (err) {
              console.log(err);
              console.log(err.responseText);
              if (err.responseText == "登录失败，留言内容为空！") {
                alert("登录失败，留言内容为空！");
              } else if (err.responseText == "登录失败，字数超过限制！") {
                alert("登录失败，字数超过限制！");
              } else {
                alert("未知错误！");
              }
            }
          })
        }
      })

    })
  </script>
