
  <div class="container">
    <div class="row aside">
      <div class="col-md-2">
        <div class="row">
          <div class="strategic-partner">
            <img src="./images/common-china_tele.png" alt="战略伙伴">
          </div>
        </div>
      </div>
      <div class="col-md-10 content">
        <h4 class="content-nav">
          <span class="text-primary float-left">
            <img src="./images/common-nav-btn.png" alt="小导航图标">&nbsp;移动业务</span>
          <span class="float-right">当前位置：jsliang 前端>移动业务</span>
        </h4>
        <p>随着 3G 时代的到来，国民越来越多地通过手机客户端来处理日常生活中的种种事情：即时聊天、收发邮件、交易股票、预订机票、预订酒
          店、预定电影票、浏览各商家促销优惠……一切您能想象到的几乎都能通过手机客户端来实现。手机客户端凭借其快捷的进入方式、图形化的
          操作界面、流畅的阅读体验，已经成为了移动互联网主流的接入方式。
        </p>
        <p>移动互联网服务因易推广、便普及，将逐渐成为主流网络服务，易观国际预测 2012 年中国移动互联网用户数将超过传统互联网用户数。今年，中国电信累计新增 CDMA 用户 3287 万，总数达到 1.23 亿户；其中，3G
          用户增长 2106 万户，占新增移动用户的 64%，渗透率达到27%，终端销量预计将达 6000 万部，3G 手机市场比重从去年的 23.7% 上升到 29.8%。
        </p>
        <h5>
          项目案例
          <img class="img-fluid" src="./images/mobileApplication-click-here.png" alt="点击下面看看">
        </h5>
        <div class="project">
          <p>
            <img src="./images/mobileApplications-content1.png" alt="内容图片1">
            <a href="http://jsliang.top" target="_blank">jsliang 科技</a>
            <span>帮你提供最有价值的股票信息，更有专业点评师帮用户出谋划策让你炒股赚钱更轻松。实时更新的股票信息，让用户可随时 随地、快速流畅的了解最新股市信息，把握投资机遇。</span>
          </p>
          <p>
            <img src="./images/mobileApplications-content2.png" alt="内容图片2">
            <a href="http://webpack.jsliang.top" target="_blank">记事本</a>
            <span>帮你记下自己的目标清单，随时检查、调整自己的目标，提醒自己去实现，清晰地把握未来。并且可参考别人在做的事，复 制自己的目标；进行实时交流，随时了解你关注的人。</span>
          </p>
          <p>
            <img src="./images/mobileApplications-content3.png" alt="内容图片3">
            <a href="https://github.com/LiangJunrong/document-library" target="_blank">任务全能看</a>
            <span>安全、人性化、高效率的文件浏览、批阅、归档系统，让用户轻松自由的在任何时间、任何地点完成原来只能在固定的电脑 上完成的业务处理。</span>
          </p>
        </div>
      </div>
    </div>
  </div>