<div class="text-center footer">
        <div class="copyright">
          <p>jsliang 前端有限公司 版权所有</p>
          <p>Copyright@ 2019. ALL Rights Reserved</p>
          <p>友情链接:
            <a target="_blank" class="text-warning" href="https://github.com/LiangJunrong/document-library">梁峻荣的 GitHub</a>
          </p>
        </div>
        <div class="network-security">
          <p>
            <a target="_blank" href="http://www.beianbeian.com/beianxinxi/f9709bb6-0a3e-4863-9ad7-09e616d1ea60.html">粤ICP备16084737号-1</a>
          </p>
        </div>
      </div>
    
      <script src="./js/jquery-3.3.1.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
      <script src="./js/islogin.js"></script>
      <script src="./js/main.js"></script>
    </body>
    
</html>